body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to left, #77c55d, #64be45);
}
.container--wrapper {
    width: 800px;
    background: #ffffff;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form--container {
    margin-bottom: 15px;
}
.form--container .form--label {
    width: 100px;
    display: inline-block;
}
.form--container .form--input {
    width: 75px;
}
.matrix--container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
}
.matrix--container .form--input,
.matrix--container input{
    width: 100%;
    box-sizing: border-box;
}
.form--input__submit {
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.message {
    word-wrap: break-word;
}
.message p {
    display: inline;
}
span {
    position: relative;
}
.matrix--span__right::after,
.matrix--span__bottom::after,
.matrix--span__left::after,
.matrix--span__top::after {
    content: "→";
    position: absolute;
    width: 8px;
    height: 8px;
    color: #4CAF50;
}
.matrix--span__right::after {
    left: -15px;
    top: 9px;
}
.matrix--span__bottom::after {
    transform: rotate(90deg);
    left: calc(50% + 2px);
    top: -15px;
}
.matrix--span__left::after {
    transform: rotate(180deg);
    top: 50%;
    right: -15px;
}
.matrix--span__top::after {
    transform: rotate(-90deg);
    right: calc(50% - 2px);
    bottom: -15px;
}
span:first-child::after {
    display: none;
}